@keyframes test {
    to{
        background-position: 600px 0;
    }
}

*{padding:0; margin: 0}
li{list-style: none}
a{text-decoration:none;}
.fl{float:left;}
.fr{float:right;}
.clearFix{content:''; display: block; clear: both;}
.clearFix{zoom:1;}

html,body{
	width:100%; 
	height:100%; 
	overflow: hidden}
body{
	background:url('images/b.png');
}
#box>div{
	display: none;
}
#box .active{
	display: block;
}
.wrapper{
	width:1200px;
	margin:20px auto; 
}
.wrapper .nav{
	height:50px; 
	width:100%; 
	position: 
	relative;
} 
.wrapper .nav span{ 
	width:224px; 
	height:100%; 
	margin-right:20px; 
	background:#efe1fb; 
	cursor: pointer; 
	text-align:center; 
	font-size:20px; 
	line-height:50px; 
	color:#402261; 
	position: absolute; 
	background:-webkit-linear-gradient(left,#ecd8fb,#e8d3fa);  
	box-shadow:0 9px 5px #000;
	-webkit-mask:-webkit-radial-gradient(center center, 30px 30px, rgba(0 0 0 1) rgba(0 0 0 0)); 
	font-weight:bold;
} 
.nav .li1{
	top:0; 
	left: 0; 
}
.nav .li2{
	top:0; 
	left: 244px
}
.mask2{
	position: absolute; 
	top:0; 
	left: 244px;
}
.nav .li3{
	top:0; 
	left: 488px;
}
.mask3{
	position: absolute; 
	left:488px; 
	top:0;
}
.nav .li4{
	top:0; 
	left: 732px;
}
.mask4{
	top:0; 
	left:732px; 
	position: absolute;
}
.wrapper .li5{
	margin-right:0; 
	top:0; 
	left:976px; 
}
.mask5{
	position: absolute; 
	left:976px; 
	top:0;
}
.nav .li1:hover{
	box-shadow:0 9px 5px #000; 
}
.nav .li1:active{
	box-shadow: 0 2px 5px #000; 
	top:5px;
}
.nav .li2:hover{
	box-shadow:0 9px 5px #000; 
}
.nav .li2:active{
	box-shadow: 0 2px 5px #000; 
	top:5px;
}
.nav .li3:hover{
	box-shadow:0 9px 5px #000; 
}
.nav .li3:active{
	box-shadow: 0 2px 5px #000; 
	top:5px;
}
.nav .li4:hover{
	box-shadow:0 9px 5px #000; 
}
.nav .li4:active{
	box-shadow: 0 2px 5px #000; 
	top:5px;
}
.nav .li5:hover{
	box-shadow:0 9px 5px #000; 
}
.nav .li5:active{
	box-shadow: 0 2px 5px #000; 
	top:5px;
}
.wrapper .nav .mask1, .wrapper .nav .mask2, .wrapper .nav .mask3, .wrapper .nav .mask4, .wrapper .nav .mask5{
	background:-webkit-linear-gradient(-45deg,rgba(255,255,255,0) 40%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 60%); 
	-webkit-background-clip:text; 
	color:rgba(0,0,0,0);  
	animation: 7s test linear infinite;
}
.mask1:hover{
	opacity: 0; 
	z-index: -1;
}
.li1:hover{
	z-index:2;
}
.mask2:hover{
	opacity: 0; 
	z-index: -1;
}
.li2:hover{
	z-index:2;
}
.mask3:hover{
	opacity: 0; 
	z-index: -1;
}
.li3:hover{
	z-index:2;
}
.mask4:hover{
	opacity: 0; 
	z-index: -1;
}
.li4:hover{
	z-index:2;
}
.mask5:hover{
	opacity: 0; 
	z-index: -1;
}
.li5:hover{
	z-index:2;
}
#box>div{
	height: 520px;
}
